.form-control{
    width: 50%;
}

.primeraTienda, .segundaTienda,.terceraTienda{
    margin: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}

section .container h5{
    text-align: center;
    margin: 10px 0;
}

section .container .btn{
    margin: 10px auto;
}