@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&amp;subset=cyrillic,latin-ext');

.overlay {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

p, span, button, input, a {
  font-family: 'Open Sans', sans-serif;
} 

.btn-width {
  width: 230px;
}

.fontBold {
  font-weight: 600;
}

.bg-grey {
  background-color: rgb(219, 219, 219);
}

.icon {
  font-size: 160%;
}

.mask {
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fontBhiso{
  font-family: "Caveat";
  font-size: 1.3em;
}

.size {
 font-size: 1.9em;
}

.card:hover .overlay {
  opacity: 0;
}

.card:hover .mask {
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
